################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TekCandor/FileContentIndex
/.vs/TekCandor/DesignTimeBuild/.dtbcache.v2
/.vs/TekCandor/v18/.suo
/.vs/TekCandor/v18/DocumentLayout.backup.json
/.vs/TekCandor/v18/DocumentLayout.json
/TekCandor.Repository/bin/Debug/net10.0/TekCandor.Repository.dll
/TekCandor.Repository/bin/Debug/net10.0/TekCandor.Repository.pdb
/TekCandor.Repository/obj/Debug/net10.0/ref/TekCandor.Repository.dll
/TekCandor.Repository/obj/Debug/net10.0/refint/TekCandor.Repository.dll
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.AssemblyInfo.cs
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.AssemblyInfoInputs.cache
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.csproj.CoreCompileInputs.cache
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.dll
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.GeneratedMSBuildEditorConfig.editorconfig
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.pdb
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.sourcelink.json
/TekCandor.Service/bin/Debug/net10.0/TekCandor.Repository.dll
/TekCandor.Service/bin/Debug/net10.0/TekCandor.Repository.pdb
/TekCandor.Service/bin/Debug/net10.0/TekCandor.Service.dll
/TekCandor.Service/bin/Debug/net10.0/TekCandor.Service.pdb
/TekCandor.Service/obj/Debug/net10.0/ref/TekCandor.Service.dll
/TekCandor.Service/obj/Debug/net10.0/refint/TekCandor.Service.dll
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.AssemblyInfo.cs
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.AssemblyInfoInputs.cache
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.csproj.AssemblyReference.cache
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.csproj.CoreCompileInputs.cache
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.dll
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.GeneratedMSBuildEditorConfig.editorconfig
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.pdb
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.sourcelink.json
/TekCandor.Web/bin/Debug/net10.0/TekCandor.Repository.dll
/TekCandor.Web/bin/Debug/net10.0/TekCandor.Repository.pdb
/TekCandor.Web/bin/Debug/net10.0/TekCandor.Service.dll
/TekCandor.Web/bin/Debug/net10.0/TekCandor.Service.pdb
/TekCandor.Web/bin/Debug/net10.0/TekCandor.Web.dll
/TekCandor.Web/bin/Debug/net10.0/TekCandor.Web.exe
/TekCandor.Web/bin/Debug/net10.0/TekCandor.Web.pdb
/TekCandor.Web/obj/Debug/net10.0/ApiEndpoints.json
/TekCandor.Web/obj/Debug/net10.0/apphost.exe
/TekCandor.Web/obj/Debug/net10.0/EndpointInfo/TekCandor.Web.json
/TekCandor.Web/obj/Debug/net10.0/ref/TekCandor.Web.dll
/TekCandor.Web/obj/Debug/net10.0/refint/TekCandor.Web.dll
/TekCandor.Web/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/TekCandor.Web/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/TekCandor.Web/obj/Debug/net10.0/rpswa.dswa.cache.json
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.AssemblyInfo.cs
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.AssemblyInfoInputs.cache
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.csproj.AssemblyReference.cache
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.csproj.CoreCompileInputs.cache
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.csproj.FileListAbsolute.txt
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.dll
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.GeneratedMSBuildEditorConfig.editorconfig
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.pdb
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.sourcelink.json
/.vs/ProjectEvaluation/tekcandor.metadata.v10.bin
/.vs/ProjectEvaluation/tekcandor.projects.v10.bin
/.vs/ProjectEvaluation/tekcandor.strings.v10.bin
/.vs/TekCandor/config/applicationhost.config
/.vs/TekCandor/v18/.futdcache.v2
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.assets.cache
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.csproj.AssemblyReference.cache
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.csproj.FileListAbsolute.txt
/TekCandor.Repository/obj/Debug/net10.0/TekCandor.Repository.genruntimeconfig.cache
/TekCandor.Repository/obj/project.assets.json
/TekCandor.Repository/obj/project.nuget.cache
/TekCandor.Repository/obj/TekCandor.Repository.csproj.nuget.dgspec.json
/TekCandor.Repository/obj/TekCandor.Repository.csproj.nuget.g.props
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.assets.cache
/TekCandor.Service/obj/Debug/net10.0/TekCandor.Service.csproj.FileListAbsolute.txt
/TekCandor.Service/obj/project.assets.json
/TekCandor.Service/obj/project.nuget.cache
/TekCandor.Service/obj/TekCandor.Service.csproj.nuget.dgspec.json
/TekCandor.Service/obj/TekCandor.Service.csproj.nuget.g.props
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.assets.cache
/TekCandor.Web/obj/Debug/net10.0/TekCandor.Web.genruntimeconfig.cache
/TekCandor.Web/obj/project.assets.json
/TekCandor.Web/obj/project.nuget.cache
/TekCandor.Web/obj/TekCandor.Web.csproj.nuget.dgspec.json
/TekCandor.Web/obj/TekCandor.Web.csproj.nuget.g.props
/TekCandor.Web/TekCandor.Web.csproj.user
/TekCandor.Web/appsettings.json
